.dropdovn-block {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 100%;

    @media (min-width: 1160px) {
        width: 1130px;
    }

    .dropdovn-Head {
        
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin: 0;

        .drop-conteiner {
            display: flex;
            align-items: center;
            column-gap: 20px;
            img{}
            p{
                color: #194484;
            }
        }

        button{
            width: 160px;
            background-color: #06B25F;
            display: none;
            &:hover{
                background-color: #194484;
            }
            @media (min-width: 460px) {
                display: block;
            }
        }
    }
    .dropdovn-boady {
        padding: 40px;
        background-color: white;

        .group-chapter-liat {
            display: flex;
            flex-direction: column;
            align-items: start;
            h4{
                color: #194484;
            }
            ul{
                
                text-align: left;
                li{
                    color: rgb(0, 0, 0);
                }
                li::before {
                    content: "";
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    background-color: green;
                    border-radius: 50%;
                    margin-right: 5px; 
                }
            }
            
        }
    }
}




