.autor-article {
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    row-gap: 40px;
    
    width: 100%;
    @media (min-width: 900px) {
        width: 900px;
    }
    h2{
        color: #194484;
    }
    .feaces-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .article-fiches {
            width: 100%;
            display: flex;
            column-gap: 20px;

            flex-direction: column;
            @media (min-width: 530px) {
                flex-direction: row;
            }
            
            .group-conteiner{
                display: flex;
                justify-content: space-between;
                width: 100%;


                .rest-group{
                    display: flex;
                    column-gap: 20px;
                }
                .share{
                    width: auto;
                    padding: 0;
                    padding-left: 15px;
                    margin: 0;
                    &:hover{
                        background: none;
                        border-radius: none;
                        scale: 1.2;
                    }
                    
                    img{
                        width: 24px;
                    }
                }
            }
        }

    }
    .article-img {
        width: auto;
        img{
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
        }
    }
    .articl-feaces-footer {
        display: flex;
        column-gap: 20px;
    }
    
    .article-paragraps {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        p{
            text-align: left;
            color: black;
        }
    }
}