.clutch-fica {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .grade {
        p{color: black;}
    }
    .star-container {
        position: relative;
        
        .star-count {
            display: flex;
            justify-content: center;
            align-items: center;
            

            .star {
                background: none;
                z-index: 5;
                width: 24px;
                height: 24px;
                border: none;
                padding: 0;
                margin: 0;
                border-radius: 0;

                img{
                    width: 25px;
                    height: 25px;
                    
                }
            }
        }
        .default-line{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(201, 201, 201);
            z-index: 1;
        }
        .Like-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;

            background-color: #fff200;
            z-index: 2;
        }
        .user-hover{
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 100%;
            background-color: #06B25F;
            z-index: 3;
        }

    }
    .number-of-voters {
        width: 130px;
        p{
            color: black;
        }
    }
}