.navigation-sestem {
    padding: 120px 28px 0 28px;
    width: 100%;

    @media (min-width: 768px) {
        padding: 120px 110px 0 110px;
    }

    ul{
        display: flex;
        column-gap: 10px;
        align-items: center;
        color: #0D6EB7;
        li{
       
            span{
                display: flex;
                justify-content: center;
                column-gap: 10px;
                font-family: 'Harabara';
                
                font-size: 12px;
                @media (min-width: 768px) {
                    font-size: 22px;
                }
                a{
                    font-size: 12px;
                    @media (min-width: 768px) {
                        font-size: 22px;
                    }
                }
                img{
                    width: 7px;
                }
            }
            .end-root{
                color: red;
            }
        }
    }

}
