.parther-setings{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    

    .deco-header, .deco-footer {
        img{
            
            width: 1920px;
        }
    }
    .decobody{
        background-color: hsla(216, 69%, 50%, 0.5);
    }
}