.img-deco{
    width: 100vw;
    height: 1400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1600px) {
        width: 1600px;
    }

    .deco-bacground{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }   

    .partners-info {
        a{
            font-size: 36px;
            text-align: center;
            
        }
    
        .partners-conteiner{
            margin-top: 60px;
            display: grid;
            width: 100%;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto;
            column-gap: 20px;
            row-gap: 20px;
            .partner {
                position: relative;
                background-color: white;
                img{
                }    
                .shedou-effect {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background-color: rgba(101, 190, 190, 0.258);
                }
            }
        }
    }
    
}
