.main-button{
    display: block;
    border: 2px solid rgba(255, 255, 255, 0);
    width: auto;
    padding: 0 10px;
    margin: 0;

    &:hover{
        border: 2px solid white;
    }

    img{}
}
@media (min-width: 1000px) {
    .main-button{
        display: none;
    }
}