.company-specialization {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
    padding: 0 28px;
    @media (min-width: 1600px) {
        width: 1600px;
    }

    p{
        color: black;
        text-align: center;

        @media (max-width: 768px) {
            background-color: rgba(97, 189, 255, 0.292);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            padding: 5px;
        }

        @media (min-width: 1600px) {
            text-align: left;
        }
    }

    img{
        width: 100%;
        min-width: 300px;
    }
    a{}

    .block-conteiner {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        width: 700px;
 
        .header-specialization{
            color: #0D6EB7;
            text-align: left;
            width: 100%;
            font-size: 28px;
            font-weight: 700;
        }
        p{
            color: black;
            text-align: left;
        }
        a{
            text-align: left;
        }
    }
    
    .block-conteiner:nth-child(3){
        order: 4;
    }
    .block-conteiner:nth-child(4){
        order: 3;
    }

    @media (min-width: 1500px) {
        .block-conteiner:nth-child(4){
            order: 3;
        }
        .block-conteiner:nth-child(4){
            order: 3;
        }

    }
    


    .paragraph-group {
        h2{
            color: black;
            text-align: left;
        }
        p{
            color: black;
            text-align: left;
        }
    }
}

