.star-count {
    display: flex;
    justify-content: space-between;
    .star {
        padding: 0;
        width: auto;
        height: auto;
        border: none;
        img{
            width: 24px;
        }
    }
}