.stens-blog {
    background-color: #b8ccff22;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        font-size: 36px;
    }
    .blog-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding: 0 20px;
        width: 100vi;
        @media (min-width: 1220px) {
            width: 1220px;
        }
    }
}








