.texnologies{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 0 28px;
    a{ font-size: 40px;}
    p{
        color: black;
        span{
            a{font-size: 30px;}
        }
    }

    .platforms-devlopeng {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        
        a{
            width: 64px;
            height: 64px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            img{
                width: 60%;
            }
        }
        .androidico {
            background-color: #06B25F;
            transition: transform 0.3s ease-in-out;
        }
        .apleico {
            background-color: #276ED8;
            transition: transform 0.3s ease-in-out;
        }
        .unityico {
            background-color: #84B5FF;
            transition: transform 0.3s ease-in-out;
        }

        .androidico:hover, .apleico:hover, .unityico:hover {
            transform: scale(1.2);
            
        }

    }

    
}