.contacts {
    width: 100%;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
    @media (min-width: 1200px) {
        width: 1200px;
    }
    a{font-size: 36px;} 
    
    .welcome{
        p{color: black;}
    }
    
    .contacts-conteiner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 60px;
        @media (min-width: 1233px) {
            flex-direction: row;
        }
        
        .contact-form {
            width: auto;
            height: 505px;
            position: relative;
            img{display: none;}
            @media (min-width: 700px) {
                
                img{
                    display: block;
                }
            }
            
        }
    }
}

