.apply-button{
    width: 160px;
    
    background-color: #06B25F;
    display: none;
    
    &:hover{
        background-color: #194484;
    }
    @media (min-width: 460px) {
        display: block;
    }
}