.parther-setings {
    .deco-header {
    }
    .slider-conteiner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsla(216, 69%, 50%, 0.5);
        
    }
    .deco-footer {
    }
}

