header{
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    .header-conteiner {
        padding: 0 110px;
        background-color: rgba(0, 0, 0, 0.3);   
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        @media (min-width: 1920px) {
            width: 1920px;
        }
        .logo {
            img{}
        }
        .main-list {
            display: flex;
            column-gap: 20px;
            justify-content: space-around;
            a{
                font-size: 16px;
            }
            
        }
        .ficha {
        }
    }

    
 
}