header{

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;

    .header-conteiner {
        padding: 28px;
        background-color: rgba(0, 0, 0, 0.5);   
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-width: 380px;
        @media (min-width: 768px) {
            padding: 0 110px;
        }
        @media (min-width: 1920px) {
            width: 1920px;
        }
        
        .logo {
            img{}
        }
        
        .main-list {
            
            display: none;
            column-gap: 20px;
            justify-content: space-around;
            a{
                font-size: 16px;
            }
            
        }
        @media (min-width: 1000px) {
            .main-list{
                display: flex;
            }
        }

        .ficha {
        }
    }
}