.team-hed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 28px;
    @media (min-width: 1100px) {
        padding: 0 110px;
        flex-direction: row;
    }
    
    .join-header {
        h2{
            color: #194484;
        }
    }
    .join-img {
        img{
            width: 100%;
        }
    }
}
.openings-conteiner{
    width: 100%;
    margin-top: 100px;
    display: flex;
    padding: 0 28px;
    flex-direction: column;
    align-items: center;
    h2{
        color: #194484;
    }
}