.paragraph-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 28px;
    column-gap: 40px;
    @media (min-width: 768px) {
        padding: 0 110px;
        flex-direction: row;
    }
    .paragraph-chapter {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        color: black;
        text-align: left;
        row-gap: 40px;
        padding-bottom: 60px;
        
        h3{
            color: #0D6EB7;
        }
        p{font-size: 16px;}
    }
}

